{% extends 'base.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block css2 %}
<link rel="stylesheet" href="{% static 'css/min.css' %}">
{% endblock css2 %}

{% block content %}
<div class="container">
    <div class="row">
        {% if query %}
        <div class="col-12 mb-3">
            <h3>Searched for <b>{{ request.GET.q }}</b></h3>
            <hr>
        </div>
        {% else %}
        <div class="col-10 col-md-6 col-sm-12 mx-auto py-4">
            {% include 'search/snippets/search.html' %}
        </div>
        <div class="col-12">
            <hr>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-2 mb-2">
            <div class="shadow p-3 h-100">
                <a href="{% url 'products:detail' slug=object.slug %}">
                    <img src="{{ object.image.url }}" alt="image" class="img-fluid" style="max-height:280px;">
                </a>
                <div>
                    <p>{{object.title}} -- $ {{object.price}}</p>
                </div>
                <div>{{ object.description | truncatewords:15}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% block script %}
    <script src="{% static 'js/js.js' %}"></script>
    {% endblock script %}
</div>
{% endblock content %}